---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>Publications</h2>
<hr />

{% for post in site.publications reversed %}
  {% if post.venue contains "Quality and Quantity" or post.venue contains "Chinese Public Administration" or post.venue contains "Public Administration and Policy Review" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Selected Working Papers</h2>
<hr />

{% for post in site.publications reversed %}
  {% if post.venue contains "Working Paper" or post.venue contains "Job Market Paper" or post.venue contains "Under Review" or post.venue contains "Revise and Resubmit" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}



